:host {
  ::ng-deep {
    .btn-success {
      width: 98%;
      border-radius: 10px;
    }

    .btn:hover {
      background-color: #22c55e;
      border-color: #22c55e;
    }

    .search {
      width: 10%;
    }
  }
}
