:host {
  ::ng-deep {
    .btn-success {
      min-height: 5rem;
      font-size: 25px;
      border-radius: 40px;
    }

    .btn:hover {
      background-color: #22c55e;
      border-color: #22c55e;
    }

    .carousel-indicators {
      margin: 0;
      background-color: #f5f5f5;
      color: #000;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      background-color: #000;
    }

    .carousel-item.active {
      background-color: #f5f5f5;
      color: #000;
    }

    .carousel-inner {
      height: 100%;
      background-color: #f5f5f5;
      color: #000;
    }

    .carousel-item {
      background: #f5f5f5;
      color: #000;
    }

    .carousel-indicators [data-bs-target] {
      background-color: #000;
    }

    .carousel {
      width: 80%;
      height: 95%;
    }

    h4 {
      color: #fff;
      font-size: 40px;
      margin: 0;

      @media (max-width: 768px) {
        font-size: 26px;
      }
    }

    p {
      background: #f5f5f5;
      color: #000;
      font-size: 34px;
      margin: 7rem 6rem;

      @media (max-width: 768px) {
        font-size: 20px;
        margin: 3rem 4rem;
      }
    }

    strong {
      background: #f5f5f5;
      color: #64748b;
      font-size: 34px;
      margin: 0;

      @media (max-width: 768px) {
        font-size: 20px;
      }
    }
  }
}

.image-container {
  max-width: 250px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
