<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
  <a class="navbar-brand" href="#">
    <img
      src="../../../assets/icons/logo.svg"
      class="img"
      alt=""
      width="180"
      height="180"
    />
  </a>

  <div class="d-flex justify-content-center w-100" id="navbarSupportedContent">
    <ul class="navbar-nav d-flex justify-content-center gap-4 w-30">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/cadastro"
          >Cadastro</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/lista">Lista</a>
      </li>
    </ul>
  </div>
</nav>
